In [1]:
import pandas as pd

In [3]:
users_df = pd.read_csv('../data/users.csv')
events_df = pd.read_csv('../data/events.csv')

In [7]:
print(users_df.columns.tolist())
print(events_df.columns.tolist())

['user_id', 'signup_date', 'age', 'gender', 'location', 'location_type', 'device_type', 'device_os_version', 'baseline_severity', 'treatment_plan', 'adherence_flag', 'first_contact_time', 'dropoff']
['user_id', 'event_type', 'timestamp', 'device_type', 'device_os_version']

In [13]:
users_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             50000 non-null  object
 1   signup_date         50000 non-null  object
 2   age                 50000 non-null  int64
 3   gender              50000 non-null  object
 4   location            50000 non-null  object
 5   location_type       50000 non-null  object
 6   device_type         50000 non-null  object
 7   device_os_version   50000 non-null  object
 8   baseline_severity   50000 non-null  int64
 9   treatment_plan      50000 non-null  object
 10  adherence_flag      50000 non-null  int64
 11  first_contact_time  38243 non-null  object
 12  dropoff             50000 non-null  int64
dtypes: int64(4), object(9)
memory usage: 5.0+ MB

In [14]:
events_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 233709 entries, 0 to 233708
Data columns (total 5 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   user_id            233709 non-null  object
 1   event_type         233709 non-null  object
 2   timestamp          233709 non-null  object
 3   device_type        233709 non-null  object
 4   device_os_version  233709 non-null  object
dtypes: object(5)
memory usage: 8.9+ MB

In [15]:
users_df.describe()

                age  baseline_severity  adherence_flag       dropoff
count  50000.000000       50000.000000    50000.000000  50000.000000
mean      49.051060           2.846080        0.738020      0.235140
std       18.168272           1.194846        0.439716      0.424091
min       18.000000           1.000000        0.000000      0.000000
25%       33.000000           2.000000        0.000000      0.000000
50%       49.000000           3.000000        1.000000      0.000000
75%       65.000000           4.000000        1.000000      0.000000
max       80.000000           5.000000        1.000000      1.000000